<% include header  %>
<main id="collocations">
    <!----------------摄影排行榜 开始----------------------->
    <header class="container-fluid">全部 > 2套搭配</header>
    <article id="collocationsMain" class="container-fluid items">
        <ul>
            <% collocations.forEach(function(collocation, index){ %>
            <li class="row">
                <div class="collocationer col-lg-4 col-sm-4">
                    <div class="row">
                        <a href="javascript:void(0)" class="avatar ashow col-lg-4 col-sm-4"><img src="<%= collocation.cover %>" class="img-responsive" /> </a>
                        <div class="info col-lg-8 col-sm-8">
                            <h3><%= collocation.name %></h3>
                            <p class="hits text-muted">风格：<%= collocation.style %></p>
                            <p class="hits text-muted">类型：<%= collocation.tags %></p>
                            <p class="text-muted">指数：<%= collocation.hits %></p>
                            <p class="text-muted">描述：<%= collocation.mark %></p>
                        </div>
                    </div>
                </div>
                <div class="ablum detail<%= index %> col-lg-8 col-sm-8">
                    <div class="row">
                        <% collocation.imageList.forEach(function(image, index){ %>
                        <% if(index < 4){ %>
                        <a href="javascript:void(0)" class="show col-lg-3 col-sm-3"><img src="<%= image %>" class="img-responsive detailImg<%= index %>" /></a>
                        <% } %>
                        <% }) %>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
    </article>
    <!----------------摄影排行榜 结束----------------------->
</main>
<% include footer %>
<script src="/js/collocations.js"></script>