<% include header  %>
<main id="dress">
    <!----------------摄影排行榜 开始----------------------->
    <header class="container-fluid">全部 > <%= dresss.count %>套搭配</header>
    <article id="dressMain" class="container-fluid items">
        <ul>
            <% dresss.data.forEach(function(dress, index){ %>
            <li class="row">
                <div class="dresser col-lg-4 col-sm-4">
                    <div class="row">
                        <a href="javascript:void(0)" class="avatar ashow col-lg-4 col-sm-4"><img src="<%= dress.cover %>" class="img-responsive" /> </a>
                        <div class="info col-lg-8 col-sm-8">
                            <h3><%= dress.name %></h3>
                            <p class="hits text-muted">风格：<%= dress.style %></p>
                            <p class="hits text-muted">类型：<%= dress.tags %></p>
                            <p class="text-muted">指数：<%= dress.hits %></p>
                            <p class="text-muted">描述：<%= dress.mark %></p>
                        </div>
                    </div>
                </div>
                <div class="ablum detail<%= index %> col-lg-8 col-sm-8">
                    <div class="row">
                        <% dress.imageList.forEach(function(image, index){ %>
                        <% if(index < 4){ %>
                        <a href="javascript:void(0)" class="show col-lg-3 col-sm-3"><img src="<%= image %>" class="img-responsive detailImg<%= index %>" /></a>
                        <% } %>
                        <% }) %>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
    </article>
    <!----------------摄影排行榜 结束----------------------->
</main>
<% include footer %>
<script src="/js/dress.js"></script>