<% include header  %>
<link rel="stylesheet" href="/css/perfect-scrollbar.min.css" />
<main id="scenes" class="container-fluid">
    <div class="row">
        <!----------------约拍场景排行榜 开始----------------------->
        <article id="scenesTop" class="col-lg-2 col-sm-12">
            <a href="javascript:void(0)" title="<%= scenes.name %>" class="show"><img src="images/scenes/topBg.jpg" class="img-responsive"></a>
            <section id="scenesTopMain" class="contentHolder items">
                <ul>
                    <% scenes.data.forEach(function(scene, index){ %>
                    <li class="clearfix" onclick="javascript:changeScenes(<%= index %>)">
                        <a href="javascript:void(0)" class="show col-lg-4 col-sm-4"><img src="<%= scene.cover %>" class="img-responsive pull-left" /></a>
                        <div class="info col-lg-8 col-sm-8">
                            <h4><%= scene.name %></h4>
                            <p class="hits text-muted">约拍指数：<%= scene.hits %></p>
                            <p class="text-muted">注意事项：<%= scene.mark %></p>
                        </div>
                        <div class="detail detail<%= index %> hidden" data-lat="<%= scene.lat %>" data-lng="<%= scene.lng %>">
                            <h4><%= scene.name %></h4>
                            <p class="text-muted"><%= scene.desc %></p>
                            <img src="<%= scene.cover %>" class="img-responsive pull-left detailImg<%= index %>" />
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </section>
        </article>
        <!----------------约拍场景排行榜 结束----------------------->
        <!----------------约拍场景地图 开始----------------------->
        <section id="scenesMap" class="col-lg-10 smHidden"></section>
        <!----------------约拍场景地图 结束----------------------->
    </div>
</main>
<% include footer %>
<script src="http://api.map.baidu.com/api?v=2.0&ak=8ft7ZgDwrktuzixGhGLajPZAfmiVdTm1"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/scenes.js"></script>