<% include header  %>
<div id="ypcj" class="container-fluid">
    <div class="row">
        <!----------------约拍场景排行榜 开始----------------------->
        <div id="ypcjTop" class="col-lg-2">
            <a href="javascript:void(0)" title="<%= ypcjs.name %>"><img src="images/topBg.jpg" class="img-responsive"></a>
            <div class="items">
                <ul>
                    <% ypcjs.data.forEach(function(ypcj, index){ %>
                    <li class="clearfix <%= index %>">
                        <a href="ypcj?id=<%= ypcj.id %>" class="show">
                            <img src="<%= ypcj.cover %>" class="img-responsive pull-left" />
                            <div class="info pull-left">
                                <h4><%= ypcj.name %></h4>
                                <p class="hits text-info">约拍指数：<%= ypcj.hits %></p>
                                <p class="text-warning">注意事项：<%= ypcj.mark %></p>
                            </div>
                        </a>
                        <div class="detail detail<%= index %> hidden">
                            <h4><%= ypcj.name %></h4>
                            <img src="<%= ypcj.cover %>" class="img-responsive pull-left detailImg" />
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <!----------------约拍场景排行榜 结束----------------------->
        <!----------------约拍场景地图 开始----------------------->
        <div id="ypcjMap" class="col-lg-10"></div>
        <!----------------约拍场景地图 结束----------------------->
    </div>
</div>
<% include footer %>
<script src="http://api.map.baidu.com/api?v=2.0&ak=8ft7ZgDwrktuzixGhGLajPZAfmiVdTm1"></script>
<script>
    var map = new BMap.Map("ypcjMap");          // 创建地图实例
    var point = new BMap.Point(104.686164,31.473364); // 创建点坐标
    map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
    map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
    map.enableScrollWheelZoom();                            //启用滚轮放大缩小
    map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
    map.disable3DBuilding();
    map.setMapStyle({style:"grayscale"});    //设置地图模板为高端灰
    map.centerAndZoom(point, 15);   //设置地图中心点

    /* 根据IP定位中心点*/
    function myFun(result){
        var cityName = result.name;
        map.setCenter(cityName);
    }
    var myCity = new BMap.LocalCity();
    myCity.get(myFun);
    createInfo();

    /* 创建信息展示窗口 */
    function createInfo(){
        var sContent = $(".detail0").html();
        var marker = new BMap.Marker(point);
        var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
        map.centerAndZoom(point, 15);
        map.addOverlay(marker);
        marker.addEventListener("click", function(){
            this.openInfoWindow(infoWindow);
            //图片加载完毕重绘infowindow
            $(".detailImg").onload = function (){
                infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
            }
        });
    }

</script>