<% include header  %>
<link rel="stylesheet" href="/css/perfect-scrollbar.min.css" />
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<main id="ypcj" class="container-fluid">
    <div class="row">
        <!----------------约拍场景排行榜 开始----------------------->
        <article id="ypcjTop" class="col-lg-2">
            <a href="javascript:void(0)" title="<%= ypcjs.name %>" class="show"><img src="images/topBg.jpg" class="img-responsive"></a>
            <section id="ypcjTopMain" class="contentHolder items">
                <ul>
                    <% ypcjs.data.forEach(function(ypcj, index){ %>
                    <li class="clearfix <%= index %>">
                        <a href="ypcj?id=<%= ypcj.id %>" class="show">
                            <img src="<%= ypcj.cover %>" class="img-responsive pull-left" />
                            <div class="info pull-left">
                                <h4><%= ypcj.name %></h4>
                                <p class="hits text-info">约拍指数：<%= ypcj.hits %></p>
                                <p class="text-warning">注意事项：<%= ypcj.mark %></p>
                            </div>
                        </a>
                        <div class="detail detail<%= index %> hidden" data-lat="<%= ypcj.lat %>" data-lng="<%= ypcj.lng %>">
                            <h4><%= ypcj.name %></h4>
                            <p class="text-info"><%= ypcj.desc %></p>
                            <img src="<%= ypcj.cover %>" class="img-responsive pull-left detailImg<%= index %>" />
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </section>
        </article>
        <!----------------约拍场景排行榜 结束----------------------->
        <!----------------约拍场景地图 开始----------------------->
        <section id="ypcjMap" class="col-lg-10"></section>
        <!----------------约拍场景地图 结束----------------------->
    </div>
</main>
<% include footer %>
<script src="http://api.map.baidu.com/api?v=2.0&ak=8ft7ZgDwrktuzixGhGLajPZAfmiVdTm1"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/ypcj.js"></script>